/* latin */
@font-face {
  font-family: 'Nasa';
  font-style: normal;
  font-weight: 400;
  src: url("../font-family/nasa.TTF") format("TrueType")
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    display: block;
    cursor: crosshair;
}
